/*.o
/*.gcda
/ice
/tools
/book-gen
/mask-gen
/book.gen
/masks.c
/gmon.out
/gmon.sum
/doc/*.aux
/doc/*.log
/doc/*.pdf
/doc/*.out
/doc/*.bbl
/doc/*.blg
/doc/*.dvi
/*.swp
/tags
/.config
/logs/
/*.pgn
/.deps
/profile
/vprof
